<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
      </nav>
    </header>
    <h1>Home Page</h1>
  </body>
  <script>
    const api = "http://localhost:3000";

    const accessToken = localStorage.getItem("accessToken");
    const refreshToken = localStorage.getItem("refreshToken");

    async function getMe(token) {
      const res = await fetch(`${api}/api/me`, {
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: `Bearer ${token}`,
        },
      });

      if (res.status === 401) {
        return null;
      }

      return await res.json();
    }

    async function refreshAccessToken() {
      const res = await fetch(`${api}/api/refresh-token`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: `Bearer ${refreshToken}`,
        },
      });

      if (!res.ok) {
        return null;
      }

      const data = await res.json();
      localStorage.setItem("accessToken", data.data.accessToken);
      return data.data.accessToken;
    }

    (async () => {
      if (!accessToken || !refreshToken) {
        alert("Session expired. Please log in again.");
        window.location.href = "login.html";
        return;
      }
      let profile = await getMe(accessToken);

      if (!profile?.user) {
        const newAccessToken = await refreshAccessToken();

        if (newAccessToken) {
          profile = await getMe(newAccessToken);
        } else {
          alert("Session expired. Please log in again.");
          window.location.href = "login.html";
          return;
        }
      }

      console.log("User Profile:", profile);
    })();
  </script>
</html>
