<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Form</h1>
    <form>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>

    <script>
      const api = "http://localhost:3000";

      const form = document.querySelector("form");

      function validateForm(formData) {
        if (
          formData.get("username") === "" ||
          formData.get("password") === ""
        ) {
          alert("Please fill in all fields");
          return false;
        }
        return true;
      }

      async function login(formData) {
        const res = await fetch(`${api}/api/login`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "x-device-id": "some-uuid-or-device-id",
            "x-platform": navigator.platform,
          },
          body: JSON.stringify({
            username: formData.get("username"),
            password: formData.get("password"),
          }),
        });

        return res.json();
      }

      async function submitForm(e) {
        e.preventDefault();

        const formData = new FormData(form);

        if (!validateForm(formData)) return;

        const { data } = await login(formData);

        const { accessToken, refreshToken } = data;

        if (accessToken && refreshToken) {
          localStorage.setItem("accessToken", accessToken);
          localStorage.setItem("refreshToken", refreshToken);

          // redirect to home page
          window.location.href = "index.html";
        }
      }

      form.addEventListener("submit", submitForm);
    </script>
  </body>
</html>
